.project {
    background-color:rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project-title {
    font-size: 2.5rem;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    color: black;
    text-align: right;
    letter-spacing: 0.7px;
    margin-top: 7rem;
    padding-bottom: 8rem;
}

.project-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 8rem;
}

.project-image {
    height: 12rem;
    width: 12rem;
    cursor: pointer;
}

.project-image:hover {
    transform: translateY(-2px)
}

.project-name {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    transform: scale(1, 1.1);
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
}

.project-link {
    text-decoration: none;
    color: black;
}

