.project {
    background-color:rgb(0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to bottom right, 
                    rgba(0,0,0,0.7), 
                    rgba(0,0,0,0.8)),
                      url("https://res.cloudinary.com/chu327/image/upload/v1533766850/portfolio/rohit-tandon-62046-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 3rem 0 8rem 0;
}

.project-title {
    font-size: 2.5rem;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: right;
    letter-spacing: 0.8px;
    margin-top: 7rem;
    padding-bottom: 3rem;
    font-weight: 400;
    transform: scale(1.1, 0.9);
}

.project-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style: none;
    flex-wrap: wrap;
}

.project-item {
    background-color: white;
    cursor: pointer;
    position: relative;
    width: 25rem;
    height: 22rem;
    margin-bottom: 2rem;
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.project-item:hover .overlay {
    opacity: 1;
    border-bottom: 4px solid white;
}

.project-link {
    text-decoration: none;
    color: black;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.project-image {
    height: 12rem;
    width: 12rem;
    cursor: pointer;
}

.project-name {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    transform: scale(1, 1.1);
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    color:black;
}

.overlay {
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    position: absolute;
}

.overlay-text {
    color: white;
    font-size: 1.3rem;
    line-height: 2rem;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
    font-weight: 300;
}



